.cache/
.bash_history
.bash_logout
.bash_profile
.bashrc
.devilspie/
.gnupg/
.gtkrc-2.0
.local/
.mozilla/
.oh-my-zsh/
.pki/
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.themes/
.var/
.vscode-oss/
.zcompdump-*
.zen/
.zsh_history
Desktop/
Documents/
Downloads/
Pictures/
yay/
.config/nvim
